@use "sass:map";
@use "@/sass/abstract" as *;
@use './normalize.scss';

* {
  margin: 0;
  padding: 0;
  font: inherit;
}


button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &[disabled] {
    cursor:default;
  }
}
