@use "sass:map";
@use "@/sass/abstract" as *;
@forward "./button";
@forward "./input";

// the main element that holds content
// background color adjusts based on theme mode
.content-block {
  background-color: var(--clr-content-background);
  border-radius: map.get($round, "large");
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  color: var(--clr-content-text);
}

.fw-bold {
  font-weight: map.get($font-weight, "bold");
}
.fw-medium {
  font-weight: map.get($font-weight, "medium");
}

.rounded {
  border-radius: map.get($round, "small");
  &--large {
    border-radius: map.get($round, "large");
  }
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-center-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-center-end {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.flex-center-start {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
