@use "sass:map";
@use "@/sass/abstract" as *;

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-center-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-center-end {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.flex-center-start {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
