@use "sass:map";
@use "@/sass/abstract" as *;
@forward "./button";
@forward "./input";

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
