@use "sass:map";

$grid-breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin xs {
  @media screen and (min-width: map.get($grid-breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: map.get($grid-breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: map.get($grid-breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: map.get($grid-breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: map.get($grid-breakpoints, "xl")) {
    @content;
  }
}

@mixin xxl {
  @media screen and (min-width: map.get($grid-breakpoints, "xl")) {
    @content;
  }
}
