$colors: (
  black1: #0c0e16,
  black2: #141625,
  blueGray1: #1e2139,
  blueGray2: #252945,
  gray1: #dfe3fa,
  gray2: #888eb0,
  gray3: #7e88c3,
  lightBlue: #f8f8fb,
  purple1: #7c5dfa,
  purple2: #9277ff,
  red1: #ec5757,
  red2: #ff9797,
);
