$colors: (
 purple1: #7C5DFA,
 purple2: #9277FF,
 blueGray1: #1E2139,
 blueGray2: #252945,
 gray1: #DFE3FA,
 gray2: #888EB0,
 gray3: #7E88C3,
 black1: #0C0E16,
 black2: #141625,
 red1:#EC5757,
 red2:#FF9797,
 lightBlue: #F8F8FB,
);