@use "sass:map";
@use "./colors" as *;

$typography-body: (body-1, body-2);
$typography-heading: (heading-1, heading-2, heading-3, heading-4);

$font-weight: (
  regular: 400,
  medium: 500,
  bold: 700,
);

$font-size: (
  body-1: 12px,
  body-2: 11px,
  heading-1: 32px,
  heading-2: 20px,
  heading-3: 16px,
  heading-4: 12px,
);

$line-height: (
  body-1: 15px,
  body-2: 18px,
  heading-1: 36px,
  heading-2: 22px,
  heading-3: 24px,
  heading-4: 15px,
);

$letter-spacing: (
  body-1: -0.25px,
  body-2: -0.23px,
  heading-1: -0.1px,
  heading-2: -0.63px,
  heading-3: -0.8px,
  heading-4: -0.25px,
);

@mixin body($size) {
  font-size: map.get($map: $font-size, $key: $size);
  font-weight: map.get($map: $font-weight, $key: medium);
  line-height: map.get($map: $line-height, $key: $size);

  @if $size == body-2 {
    font-weight: map.get($map: $font-weight, $key: medium);
  }
}

@mixin title($size) {
  font-size: map.get($map: $font-size, $key: $size);
  font-weight: map.get($map: $font-weight, $key: bold);
  letter-spacing: map.get($map: $letter-spacing, $key: $size);
  line-height: map.get($map: $line-height, $key: $size);
}

@mixin typography-body($size) {
  @if index($typography-body, $size) {
    @include body($size);
  }
}

@mixin typography-heading($size) {
  @if index($typography-heading, $size) {
    @include title($size);
  }
}

@mixin typography($size) {
  @if index($typography-body, $size) {
    @include body($size);
  } @else if index($typography-heading, $size) {
    @include title($size);
  }
}
